@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color:black;
}

#score  {
  width: 95vw;
  height: 6vh;
  text-align: center;
  padding-top: 0.5em;
  /* border: 1px solid yellow; */
  border-radius: 1px;
  /* box-shadow: 1px 1px 5px 1px yellow; */
  color:darkred;
  /* margin: 1em auto; */
}

.scoreContainer {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background-color: black;
}

.firstPlayer {
  width:200px;
  /* height:200px; */
  /* background-color: red; */
}

.highestScore {
  width:200px;
  /* height:200px; */
  /* background-color: green; */
}

.secondPlayer {
  width:200px;
  /* height:200px; */
  /* background-color: blue; */
}

.start {
  width:100vw;
  height:70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-between;
  margin: 0 auto;
  background-color: lightgreen;
}

.gameName { 
  border:1px solid black;
  width: 80vw;
  height:100px;
}

.gameName h1 {
  font-size: 7em;
  text-align: center;
  margin-top: 1.5em;
}

.choseOne {
  border:1px solid black;
  width: 80vw;
  height:100px;
}

.license {
  border:1px solid black;
  width: 80vw;
  height:100px;
}

#board {
  width: 640px;
  height: 640px;
  margin: 1em auto;
}

#board  > div {    
  border: 5px double blue;
  margin-top: 1px;
  border-radius:10px;
  float: left;
  width: 64px;
  height: 64px;
}

.furry {
  background-image: url('../images/pacman.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.coin {
  background-image: url('../images/ghost.png');
  background-repeat: no-repeat;
  background-size: cover;
}

section#over {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 10px;
  background-color: rgba(255, 255, 0, 0.75);
}

section#over pre {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  color: brown;
}

.invisible {
  display: none;
}

